/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/imports/assets/images/amal.png
public/imports/assets/images/ahmed-removebg-preview.png
public/imports/assets/images/ahmed.png
public/imports/assets/images/Noursen.png
public/imports/assets/images/medali.JPG
public/imports/assets/images/siwar.png
public/imports/assets/images/medali-removebg-preview.png
public/imports/assets/images/IMG_0461-removebg-preview-.png
